<!DOCTYPE html>
<html lang="en">
  <%-include("../includes/head.ejs")%>
  <body>
    <%-include("../includes/navigation.ejs")%>
    <main>
        <% if (products.length > 0) {%>
            <ul class="cart-ul">
                <%products.forEach(p => {%>
                    <li class="cart-list">
                        <p class="cart-title"><%= p.title %> (<%= p.quantity %>)</p>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" name="productId" value="<%= p._id %>">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </li>
                <%})%>
            </ul>
            <hr>
            <div class="cart-order">
                <form action="/create-order" method="POST">
                    <button class="btn" type="submit">Order Now!</button>
                </form>
            </div>
            
        <%} else {%>
            <h1>No Products in cart!</h1>
        <%}%>
    </main>
    <%-include("../includes/end.ejs")%>
  </body>
</html>
