<!DOCTYPE html>
<html lang="en">
  <%-include("../includes/head.ejs")%>
  <body>
    <%-include("../includes/navigation.ejs")%>
    <main class="centered">
      <div class="container">
        <h1 class="container-header"><%= product.title %></h1>
        <hr />
        <div>
          <img class="container-img" src="<%= product.imageUrl %>" alt="" />
        </div>
        <h2 class="container-small"><%= product.price %></h2>
        <h2 class="container-desc"><%= product.description %></h2>
        <div class="card-actions">
          <%- include("../includes/add-to-cart.ejs") %>
        </div>
      </div>
    </main>
    <%-include("../includes/end.ejs")%>
  </body>
</html>
